@{
    ViewBag.Title = "Home Page";
}

<h1 class="mt-5">Processo seletivo BR Partners</h1>
<p class="lead">
    Abaixo você vai encontar as instruções de como realizar o projeto.
    Bom Trabalho!
</p>

<main class="mt-5">
    <h2>Instruções</h2>
    <p>
        Para realizar esse projeto,você vai precisar de HTML, CSS, Javascript e SQL. <br />
        Nesse template já foram adicionados Bootstrap 4 e Jquery, para facilitar seu desenvolvimento.<br/>
        As atividades que precisam ser realizadas estão listadas abaixo, sempre que terminar uma delas, assinale o CheckBox (no HTML).
    </p>
    <p>
        O nome de alguns "controllers" e "métodos" já estão definidos no layout da tela, fique atento. <br/>
        A ordem para realização das atividades é livre, gerencie seu tempo e tente mostrar seu conhecimento em todas as áreas citadas no primeiro item. <br/>
        O objeto "Cliente" tem os campos Id(apenas leitura), nome, idade, email e profissão. <br/>
    </p>

    <h3>Tarefas:</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade1" checked>
                <label class="custom-control-label" for="atividade1">Criar layout da tela.</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade2">
                <label class="custom-control-label" for="atividade2">Criar Controller para gerenciar telas relacionadas aos clientes.</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade3">
                <label class="custom-control-label" for="atividade3">Criar HTML para tela de cadastrar clientes.</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade4">
                <label class="custom-control-label" for="atividade4">Estilizar a tela de cadastro com boostrap 4</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade5">
                <label class="custom-control-label" for="atividade5">Adicionar um botão na tela para enviar os dados do cliente para o controller</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade6">
                <label class="custom-control-label" for="atividade6">Validar os dados de idade (maior que 16 anos) e se o email contem "@@"</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade7">
                <label class="custom-control-label" for="atividade7">Adicionar um método que insere o cliente no banco de dados, esse método deve conter apenas uma string de simulação do "insert" com os dados recebidos</label>
            </div>
        </li>

        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade8">
                <label class="custom-control-label" for="atividade8">Criar HTML para tela de alteração dos clientes</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade9">
                <label class="custom-control-label" for="atividade9">Estilizar a tela de alteração com boostrap 4</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade10">
                <label class="custom-control-label" for="atividade10">Adicionar um botão na tela para enviar os dados do cliente para o controller</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade11">
                <label class="custom-control-label" for="atividade11">Adicionar um método que altera o cliente no banco de dados, esse método deve conter apenas uma string de simulação do "update" com os dados recebidos</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade12">
                <label class="custom-control-label" for="atividade12">Criar HTML para tela de exclusão dos clientes</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade13">
                <label class="custom-control-label" for="atividade13">Estilizar a tela de exclusão com boostrap 4</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade14">
                <label class="custom-control-label" for="atividade14">Adicionar um botão na tela para enviar os dados do cliente para o controller</label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="atividade15">
                <label class="custom-control-label" for="atividade15">Adicionar um método que apaga o cliente no banco de dados, esse método deve conter apenas uma string de simulação do "delete" com os dados recebidos</label>
            </div>
        </li>
    </ul>

</main>
